<div class="row">
	<div class="medium-7 medium-centered columns">
		<h1 class="text-center">Help</h1>
		<p>If you're experiencing any problems, feel free to contact us at <%= mail_to "charle692@gmail.com", "charle692@gmail.com", encode: "hex" %>.</p>
	</div>
</div>
