<div class="row">
	<div class="medium-7 medium-centered columns">	
		<h1>Welcome to the help page</h1>
		<p>If your experiencing any problem feel free to contact us at <%= mail_to "charle692@gmail.com", "charle692@gmail.com", encode: "hex" %></p>
	</div>
</div>