<div class="row">
	<div class="small-8 small-centered columns">	
			<h1 class="text-center">Welcome to the Book Store</h1>
			<p class="text-center">To see all of the available books please click the link below.</p>
	</div>
</div>
