<div id="cart_arrow"></div>
<div id="cart_exit_button">
  <%= image_tag("ex_icon.png") %>
</div>
<div id="cart_container">
  <div class="cart-header">
    <h2>Your Cart (0)</h2>
  </div>

  <div class="cart-contents">
    <div>
      <span>You have no items in your cart</span>
    </div>
  </div>

  <div class="cart-footer">
    <div class="cart-footer-left">
      <h5>Subtotal: $0.00</h5>
    </div>
    <div class="cart-footer-right">
      <button>
        Checkout
      </button>
    </div>
  </div>
</div>