<%= image_tag 'book_cover.jpg', id: 'book_cover', alt: 'Banner Photo of a book' %>
<h1 id="header1">Welcome to the Bookstore!</h1>

<% @categories.each do |label, books| %>
	<div class="slider">
		<%= render partial: "slider_section", locals: {label: label, books: books} %>
	</div>
<% end %>
