<div class="row">
	<div class="small-12 small-centered columns">
		<h1 class="text-center">Books for Sale</h1>	
	</div>	

	<% @categories_hash.each do |label, books| %>
		<div class="small-block-grid-2 medium-block-grid-4 large-block-grid-6 columns">
			<%= render partial: "slider_section", locals: {label: label, books: books} %>
		</div>
	<% end %>
</div>