<div class="container">
  <div class='row'>

    <% if !@books.empty? %>
      <h1 class='text-center'>Search Results for: "<%= params[:search] %>"</h1>
    <% else %>
      <h1 class='text-center'>Nothing found for: "<%= params[:search] %>"</h1>
    <% end %>

    <div class="small-block-grid-2 medium-block-grid-4 large-block-grid-6 columns">
      <% @books.each do |book| %>
          <%= link_to image_tag("#{book.isbn}.jpg", alt: "#{book.title} Cover",
          class: "search_book_cover"), book_path(book) %>
      <% end %>
    </div>
  </div>
</div>
