/* Index Page */
.book_cover {
	padding-right: 20px;
	width: auto;
	height: 175px;
}

#title {
	z-index: 2;
	position: absolute;
	font-size: 60px;
	top: 250px;
	left: 0;
	right: 0;
}

.slider {
	margin: 50px 40px 50px;
}

.slider-container {
	position: relative;
	overflow: hidden;
	height: 175px;
}

.slider-track {
	position: absolute;
	width: 3000px;
}

.slider-item {
	float: left;
	margin-right: 20px;
}

.slider-arrow-container {
	background-color: gray;
	opacity: 0.5;
	position: absolute;
	z-index: 4;
	height: 100%;
}

.slider-arrow-container:hover {
	opacity: 0.8;
}

.slider-arrow {
	position: relative;
	height: 50px;
	z-index: 5;
	top: 60px;
}

.slider-left-arrow {
	left: 0px;
}

.slider-right-arrow {
	right: 0px;
}


/* Show Page */
.big_book_cover {
	-webkit-box-shadow: 0 2px 8px 0 #222;
	-moz-box-shadow: 0 2px 8px 0 #222;
	box-shadow: 0 2px 8px 0 #222;
}

#book_summary {
	height: 100px;
}

#book_cover {
	width: 100%;
	height: auto;
}

#book_properties {
	margin-top: 30px;
}

#book_title {
	margin: 0 0 40px;
}


/* Search Page*/
.search_book_cover {
	margin: 10px 10px 10px;
	height: 150px;
	width: auto;
}
