#trash_icon {
	height: 20px;
	width: 20px;
}

#pencil_icon {
	height: 20px;
	width: 12px;
}

#pencil_icon, #trash_icon {
	margin-left: 20px;
}

/* Index Page */
.book_cover {
	//margin: 10px 0 5px;
	padding-right: 20px;
	width: auto;
	height: 150px;
}

.small-12 {
	h1 {
		margin-bottom: 40px;
	}
}

#title {
	margin: 0 0 40px;
}

#book_summary {
	height: 100px;
}

#book_cover {
	width: 100%;
	height: auto;
}

#header1 {
	position: absolute;
	z-index: 2;
	top: 250px;
	left: 390px;
	font-size: 60px;
}

.slider {
	margin: 60px 40px 0;
}

.slider-container {
	position: relative;
	overflow: hidden;
	height: 150px;
}

.slider-track {
	position: absolute;
	width: 3000px;
}

.slider-item {
	float: left;
	margin-right: 20px;
}

.slider-arrow-container {
	background-color: gray;
	opacity: 0.5;
	position: absolute;
	z-index: 4;
	height: 100%;
}

.slider-arrow-container:hover {
	opacity: 0.8;
}

.slider-arrow {
	position: relative;
	height: 50px;
	z-index: 5;
	top: 50px;
}

.slider-left-arrow {
	left: 0px;
}

.slider-right-arrow {
	right: 0px;
}
