/* Index Page */
.slider {
	margin-top: 50px;
	width: 97%;
	margin-right: auto;
	margin-left: auto;
}

/* search */
.search {
	margin-top: 10px;
}

#search_input {
	border-radius: 5px;
	background: url('search_black.png') no-repeat 7px 11px;
	padding-left: 27px;
	background-size: 15px 15px;
}

#search_button {
	padding: 10px 10px 10px;
	border-radius: 5px;
}


/* Show Page */
.big_book_cover {
	-webkit-box-shadow: 0 2px 8px 0 #222;
	-moz-box-shadow: 0 2px 8px 0 #222;
	box-shadow: 0 2px 8px 0 #222;
}


/* Search Page*/
.book_search_info {
	list-style-type: none;
	margin: 0 0 10px;
}

#show_book_info {
	list-style-type: none;
	margin: 0 0 10px; 
}


/*Checkout page*/
.checkout_book {
	height: 150px;
	width: auto;
}

.credit_card {
	margin-right: 10px;
}

#checkout_button {
	margin-top: 20px;
}

#shipping, #payment {
	margin-top: 50px;
}

#shipping, #summary {
	background-color: #eee;
	padding: 10px 10px 10px;
}

#summary {
	position: absolute;
	top: 460px;
	right: 50px;
	position: fixed;
	padding-bottom: 5px;
}

#cardholder_name {
	margin-top: 5px;
}


/*Edit and Add Book Page*/
#book_summary {
	height: 100px;
}


/* Global */
#price, #search_price {
	font-size: 2.1rem;
}

.field_with_errors {
	input[type="text"] {
		box-shadow:0 0 1px 1px #DF7778;
	}
}

input[type="text"], textarea {
	border-radius: 5px;
}

.button, button {
	border-radius: 5px;
}
