@media screen and (min-width: 641px){

	/* Index Page */
	.book_cover {	
		height: 260px;
	}

	.pagination {
		position: relative;
		top: 10px;
		left: 12.5%;
	}

	.owl-next, .owl-prev {
		background-color: #E9573F;
		display: inline-block;
		margin-left: 10px;
		padding: 1px 5px 3px;
		border-radius: 5px;
		color: white;
		position: relative;
		top: 10px;
		right: 46.8%;	
		font-size: 15px;

		&:hover {
			background-color: #B62B14;
		}
	}


	/* Search Page */
	#result_title {
		margin-left: 8px;
	}

	.search_book_cover {
		margin: 10px 10px 10px;
		height: 180px;
		width: auto;
	}


	/*Show Page*/
	.show_summary {
		position: relative; 
		top: -10px;
	}

	#price {
		margin-top: 10px;
	}

	#book_summary_container {
		margin-top: 25px;
		margin-bottom: 20px;
		padding: 0 15px 0;
	}

	#add_to_cart_mobile {
		display: none;
	}

	#summary_container {
		position: relative;
		left: 10px;
	}
}
