@media screen and (max-width: 640px){
	.slider {
		margin-left: auto;
		margin-right: auto;
		margin: 30px 0 30px;
	}

	.slider-container {
		position: relative;
		overflow: hidden;
		height: 125px;
		width: 100%;
	}

	.slider-track {
		position: absolute;
		width: 3000px;
	}

	.slider-item {
		float: left;
		margin-right: 20px;
	}

	.slider-arrow-container {
		position: absolute;
		height: 100%;
	}

	.slider-arrow-container:hover {
		opacity: 0.8;
	}

	.slider-arrow {
		visibility: hidden;
	}

	.slider-left-arrow {
		left: 0px;
	}

	.slider-right-arrow {
		right: 0px;
	}

	.book_cover {
		height: 125px;
	}

	.category {
		margin-left: 5px;
	}

	.pagination {
		display: none !important;
	}

	#price {
		position: relative;
		top: 20px;
	}

	/* Search Page */
	.search_book_cover {
		margin: 10px 10px 10px;
		height: 140px;
		width: auto;
	}

	#search_summary_container {
		display: none;		
	}

	/* Show Page */
	#book_summary_container {
		margin: 0 5px 20px;
	}

	#add_to_cart_desktop {
		display: none !important;
	}

	#add_to_cart_mobile {
		margin-top: 40px;
		margin-bottom: 0;
		width: 100%
	}
}
