@media screen and (max-width: 640px){
	/* Index Page */
	.book_cover {
		height: 160px;
	}

	.category {
		margin-left: 5px;
	}

	#search_button {
		position: relative;
		top: -18px;	
	}


	/* Search Page */
	.pagination {
		display: none !important;
	}

	#price {
		position: relative;
		top: 20px;
	}

	.search_book_cover {
		margin: 10px 10px 10px;
		height: 140px;
		width: auto;
	}

	#search_summary_container {
		display: none;		
	}

	/* Show Page */
	#book_summary_container {
		margin: 0 5px 20px;
	}

	#add_to_cart_desktop {
		display: none !important;
	}

	#add_to_cart_mobile {
		margin-top: 40px;
		margin-bottom: 0;
		width: 100%
	}
}
